@font-face {
    font-family: "B Nazanin";
    src: url("./font/b_nazanin.ttf");
}

body {
    font-family: 'B Nazanin', sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

form {
    width: 90%;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="file"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
