.elementor-907 .elementor-element.elementor-element-0c60339 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.elementor-907 .elementor-element.elementor-element-ee597c6 .cz_sep2 svg {
    width: 100%;
    height: 50px;
}

.elementor-907 .elementor-element.elementor-element-ee597c6 > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-907 .elementor-element.elementor-element-ee597c6 {
    z-index: 1;
}

.elementor-907 .elementor-element.elementor-element-204bf86 {
    margin-top: -20px;
    margin-bottom: -20px;
}

.elementor-907 .elementor-element.elementor-element-77d3118:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-907 .elementor-element.elementor-element-77d3118 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: transparent;
    background-image: linear-gradient(90deg, #c37fbb 0%, #963e84 100%);
}

.elementor-907 .elementor-element.elementor-element-77d3118 > .elementor-element-populated, .elementor-907 .elementor-element.elementor-element-77d3118 > .elementor-element-populated > .elementor-background-overlay, .elementor-907 .elementor-element.elementor-element-77d3118 > .elementor-background-slideshow {
    border-radius: 5px 5px 5px 5px;
}

.elementor-907 .elementor-element.elementor-element-77d3118 > .elementor-element-populated {
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    color: #FFFFFF;
    margin: 60px 10px 50px 10px;
    --e-column-margin-right: 10px;
    --e-column-margin-left: 10px;
    padding: 40px 40px 40px 40px;
}

.elementor-907 .elementor-element.elementor-element-77d3118 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-907 .elementor-element.elementor-element-f6ca8fe .cz_title .cz_title_line span, .elementor-907 .elementor-element.elementor-element-f6ca8fe .cz_title .cz_line_side_solo {
    background-color: #ffffff;
    top: 6px;
}

.elementor-bc-flex-widget .elementor-907 .elementor-element.elementor-element-39db6cd.elementor-column .elementor-widget-wrap {
    align-items: flex-end;
}

.elementor-907 .elementor-element.elementor-element-39db6cd.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: flex-end;
    align-items: flex-end;
}

.elementor-907 .elementor-element.elementor-element-a6f5387 .services {
    margin-top: 50px;
    margin-bottom: 18px;
}

.elementor-907 .elementor-element.elementor-element-a6f5387 .services h3, .elementor-907 .elementor-element.elementor-element-a6f5387 services h3 a {
    color: #333333;
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 10px;
}

.elementor-907 .elementor-element.elementor-element-a6f5387 .services .cz_btn {
    font-size: 12px;
}

.elementor-907 .elementor-element.elementor-element-a6f5387 .services .service_img:not(.service_number) {
    width: 96px;
    height: 96px;
}

.elementor-bc-flex-widget .elementor-907 .elementor-element.elementor-element-643d405.elementor-column .elementor-widget-wrap {
    align-items: flex-end;
}

.elementor-907 .elementor-element.elementor-element-643d405.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: flex-end;
    align-items: flex-end;
}

.elementor-907 .elementor-element.elementor-element-baaba26 .services {
    margin-top: 50px;
    margin-bottom: 18px;
}

.elementor-907 .elementor-element.elementor-element-baaba26 .services h3, .elementor-907 .elementor-element.elementor-element-baaba26 services h3 a {
    color: #333333;
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 10px;
}

.elementor-907 .elementor-element.elementor-element-baaba26 .services .cz_btn {
    font-size: 12px;
}

.elementor-907 .elementor-element.elementor-element-baaba26 .services .service_img:not(.service_number) {
    width: 160px;
    height: 80px;
    padding-top: 20px;
}

.elementor-bc-flex-widget .elementor-907 .elementor-element.elementor-element-478b063.elementor-column .elementor-widget-wrap {
    align-items: flex-end;
}

.elementor-907 .elementor-element.elementor-element-478b063.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: flex-end;
    align-items: flex-end;
}

.elementor-907 .elementor-element.elementor-element-f51283a .services {
    margin-top: 50px;
    margin-bottom: 18px;
}

.elementor-907 .elementor-element.elementor-element-f51283a .services h3, .elementor-907 .elementor-element.elementor-element-f51283a services h3 a {
    color: #333333;
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 10px;
}

.elementor-907 .elementor-element.elementor-element-f51283a .services .cz_btn {
    font-size: 12px;
}

.elementor-907 .elementor-element.elementor-element-f51283a .services .service_img:not(.service_number) {
    width: 110px;
    height: 96px;
}

.elementor-907 .elementor-element.elementor-element-ef2fd61 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.elementor-907 .elementor-element.elementor-element-90ff887 .cz_sep2 svg {
    width: 100%;
    height: 200px;
}

.elementor-907 .elementor-element.elementor-element-90ff887 {
    z-index: 1;
}

.elementor-907 .elementor-element.elementor-element-131df66:not(.elementor-motion-effects-element-type-background), .elementor-907 .elementor-element.elementor-element-131df66 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url("https://olympiadaraku.ir/wp-content/uploads/2023/06/cyclist-sunny-day-bike-adventure-travel-photo-scaled.jpg");
    background-position: center right;
    background-size: cover;
}

.elementor-907 .elementor-element.elementor-element-131df66 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-907 .elementor-element.elementor-element-131df66 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-907 .elementor-element.elementor-element-37212a1:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-907 .elementor-element.elementor-element-37212a1 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-907 .elementor-element.elementor-element-37212a1 > .elementor-element-populated, .elementor-907 .elementor-element.elementor-element-37212a1 > .elementor-element-populated > .elementor-background-overlay, .elementor-907 .elementor-element.elementor-element-37212a1 > .elementor-background-slideshow {
    border-radius: 5px 5px 5px 5px;
}

.elementor-907 .elementor-element.elementor-element-37212a1 > .elementor-element-populated {
    box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.15);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    color: #000000;
    margin: 250px 0px 250px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 40px 50px 50px 50px;
}

.elementor-907 .elementor-element.elementor-element-37212a1 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-907 .elementor-element.elementor-element-3072491 .cz_title .cz_title_line span, .elementor-907 .elementor-element.elementor-element-3072491 .cz_title .cz_line_side_solo {
    background-color: #6b35a1;
    top: 0px;
}

.elementor-907 .elementor-element.elementor-element-0b56339 .cz_title .cz_title_content {
    margin-bottom: 10px;
}

.elementor-907 .elementor-element.elementor-element-1232f16 .cz_btn, .elementor-907 .elementor-element.elementor-element-1232f16 .cz_btn:before {
    color: #ffffff;
    font-weight: 700;
    background-color: transparent;
    background-image: linear-gradient(90deg, #c37fbb, #e095d0);
    border-style: solid;
    border-radius: 5px;
}

.elementor-907 .elementor-element.elementor-element-74c7e6d {
    margin-top: 0px;
    margin-bottom: 0px;
}

.elementor-907 .elementor-element.elementor-element-e9788c3 .cz_sep2 svg {
    width: 100%;
    height: 200px;
}

.elementor-907 .elementor-element.elementor-element-e9788c3 {
    z-index: 1;
}

.elementor-907 .elementor-element.elementor-element-930e824 .cz_title .cz_title_content {
    margin-top: 50px;
}

.elementor-907 .elementor-element.elementor-element-930e824 .cz_title .cz_title_line span, .elementor-907 .elementor-element.elementor-element-930e824 .cz_title .cz_line_side_solo {
    background-color: #333333;
    margin-top: 0px;
    top: 0px;
}

.elementor-907 .elementor-element.elementor-element-c8fbd54 .elementor-repeater-item-9a25427 .cz_sl_icon i {
    color: #FFFFFF;
}

.elementor-907 .elementor-element.elementor-element-c8fbd54 .cz_stylish_list {
    color: #000000;
    background-color: #ffffff;
    padding: 50px 50px 30px;
    margin-right: -140px;
    border-radius: 5px;
    box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.15);
    position: relative;
    z-index: 9;
}

.rtl .elementor-907 .elementor-element.elementor-element-c8fbd54 .cz_stylish_list {
    margin-right: 0px;
    margin-left: -140px;
}

.elementor-907 .elementor-element.elementor-element-c8fbd54 .cz_stylish_list li {
    font-size: 20px;
    font-weight: 600;
    width: 50%;
    height: 60px;
    margin-bottom: 20px;
    float: right;
}

.elementor-907 .elementor-element.elementor-element-c8fbd54 .cz_stylish_list li:hover {
    color: #333333;
}

.elementor-907 .elementor-element.elementor-element-c8fbd54 .cz_stylish_list small {
    margin-bottom: 15px;
    margin-top: 0px;
    color: #888888;
    font-size: 13px;
    font-weight: 300;
}

.elementor-907 .elementor-element.elementor-element-c8fbd54 .cz_stylish_list i {
    font-size: 25px;
    color: #ffffff;
    background-color: transparent;
    background-image: linear-gradient(90deg, #333333, #444444);
    margin-right: 0px;
    margin-left: 15px;
    border-style: none;
    border-radius: 50px;
}

.elementor-907 .elementor-element.elementor-element-c8fbd54 .cz_stylish_list li:hover i {
    margin-right: 20px;
    box-shadow: 0px 10px 30px 0px rgba(51, 51, 51, 0.4);
}

.elementor-907 .elementor-element.elementor-element-277f84f .cz_image > div {
    position: relative;
    display: table;
    margin: 0 auto;
}

.elementor-907 .elementor-element.elementor-element-277f84f .cz_image_in {
    margin-top: 30px;
    box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.2);
    z-index: 0;
}

.elementor-907 .elementor-element.elementor-element-94028ea {
    margin-top: 0px;
    margin-bottom: 0px;
}

.elementor-907 .elementor-element.elementor-element-deba286 .cz_sep2 svg {
    width: 100%;
    height: 100px;
}

.elementor-907 .elementor-element.elementor-element-deba286 > .elementor-widget-container {
    margin: 100px 0px 0px 0px;
}

.elementor-907 .elementor-element.elementor-element-deba286 {
    z-index: 1;
}

.elementor-907 .elementor-element.elementor-element-d85d83a:not(.elementor-motion-effects-element-type-background), .elementor-907 .elementor-element.elementor-element-d85d83a > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #222222;
}

.elementor-907 .elementor-element.elementor-element-d85d83a {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-907 .elementor-element.elementor-element-d85d83a > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-907 .elementor-element.elementor-element-ef2e51e .cz_title .cz_title_content h3 {
    font-size: 40px;
    font-weight: 900;
}

.elementor-907 .elementor-element.elementor-element-f687818 .cz_grid .slick-list {
    margin-left: calc(-30px / 2);
    margin-right: calc(-30px / 2);
    margin-bottom: -30px;
    width: calc(100% + 30px);
}

.elementor-907 .elementor-element.elementor-element-f687818 .cz_grid .cz_grid_item > div {
    margin: 0 calc(30px / 2) 30px;
}

.elementor-907 .elementor-element.elementor-element-f687818 .slick-slide {
    margin: 0 calc(30px / 2);
}

.elementor-907 .elementor-element.elementor-element-f687818 .cz_grid_p {
    padding-top: 30px;
    padding-bottom: 30px;
}

.elementor-907 .elementor-element.elementor-element-f687818 .cz_grid .cz_grid_link:before {
    background-color: rgba(68, 68, 68, 0.6);
}

.elementor-907 .elementor-element.elementor-element-f687818 .cz_grid .cz_grid_icon {
    color: #ffffff;
}

.elementor-907 .elementor-element.elementor-element-f687818 .cz_grid div > .cz_grid_details {
    text-align: center;
    display: table;
}

.elementor-907 .elementor-element.elementor-element-f687818 .cz_grid .cz_grid_details h3 {
    font-size: 14px;
    background-color: #ffffff;
    padding: 30px;
    margin: -50px 20px 35px;
    border-radius: 5px;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.1);
    bottom: 70px;
}

.elementor-907 .elementor-element.elementor-element-f687818 .cz_grid .cz_grid_item:hover .cz_grid_details h3 {
    color: #ffffff;
    background-color: #333333;
}

.elementor-907 .elementor-element.elementor-element-f687818 .cz_grid .cz_grid_details small {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.48);
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: -20px;
    margin-right: auto;
    margin-left: auto;
    display: table;
    float: none;
}

.elementor-907 .elementor-element.elementor-element-9be5c9b {
    margin-top: 0px;
    margin-bottom: 0px;
}

.elementor-907 .elementor-element.elementor-element-4aecd72 .cz_sep2 svg {
    width: 100%;
    height: 100px;
}

.elementor-907 .elementor-element.elementor-element-4aecd72 {
    z-index: 1;
}

.elementor-907 .elementor-element.elementor-element-2af5665 > .elementor-container > .elementor-column > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-907 .elementor-element.elementor-element-2af5665:not(.elementor-motion-effects-element-type-background), .elementor-907 .elementor-element.elementor-element-2af5665 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-907 .elementor-element.elementor-element-2af5665 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 60px;
    margin-bottom: 0px;
}

.elementor-907 .elementor-element.elementor-element-2af5665 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-907 .elementor-element.elementor-element-821a3ef > .elementor-element-populated {
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    border-color: #804a9d;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 50px 10px 50px 10px;
    --e-column-margin-right: 10px;
    --e-column-margin-left: 10px;
    padding: 50px 50px 50px 50px;
}

.elementor-907 .elementor-element.elementor-element-821a3ef > .elementor-element-populated, .elementor-907 .elementor-element.elementor-element-821a3ef > .elementor-element-populated > .elementor-background-overlay, .elementor-907 .elementor-element.elementor-element-821a3ef > .elementor-background-slideshow {
    border-radius: 5px 5px 5px 5px;
}

.elementor-907 .elementor-element.elementor-element-821a3ef > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-907 .elementor-element.elementor-element-bff11b3 .cz_gradient_title {
    background-color: transparent;
    background-image: linear-gradient(to right, #333333, #444444);
}

.elementor-907 .elementor-element.elementor-element-5b4350a .cz_title .cz_title_content {
    padding-top: 15px;
}

.elementor-907 .elementor-element.elementor-element-d7e1104 > .elementor-element-populated {
    margin: 0px 40px 0px 0px;
    --e-column-margin-right: 40px;
    --e-column-margin-left: 0px;
}

.elementor-907 .elementor-element.elementor-element-0c32b24 .cz_title .cz_title_content {
    margin-top: 50px;
}

.elementor-907 .elementor-element.elementor-element-0c32b24 .cz_title .cz_title_line span, .elementor-907 .elementor-element.elementor-element-0c32b24 .cz_title .cz_line_side_solo {
    background-color: #6b35a1;
    top: 0px;
}

.elementor-907 .elementor-element.elementor-element-e1b5b28 .cz_title .cz_title_content {
    margin-bottom: 50px;
}

.elementor-907 .elementor-element.elementor-element-d1c3642 .cz_counter {
    margin-bottom: 30px;
}

.elementor-907 .elementor-element.elementor-element-d1c3642 .cz_counter_num_wrap {
    font-size: 70px;
    font-family: 'Peyda';
    font-weight: 400;
    text-transform: none;
}

.elementor-907 .elementor-element.elementor-element-d1c3642 .cz_counter_after {
    font-size: 24px;
    color: #333333;
    font-weight: 700;
}

.elementor-907 .elementor-element.elementor-element-97987f4 .cz_counter {
    margin-bottom: 30px;
}

.elementor-907 .elementor-element.elementor-element-97987f4 .cz_counter_num_wrap {
    font-size: 70px;
    font-weight: 400;
}

.elementor-907 .elementor-element.elementor-element-97987f4 .cz_counter_after {
    font-size: 24px;
    color: #333333;
    font-weight: 700;
}

.elementor-907 .elementor-element.elementor-element-97f4c84 .cz_counter {
    margin-bottom: 30px;
}

.elementor-907 .elementor-element.elementor-element-97f4c84 .cz_counter_num_wrap {
    font-size: 70px;
    font-weight: 400;
}

.elementor-907 .elementor-element.elementor-element-97f4c84 .cz_counter_after {
    font-size: 24px;
    color: #333333;
    font-weight: 700;
}

.elementor-907 .elementor-element.elementor-element-67b29aa {
    margin-top: 30px;
    margin-bottom: 0px;
}

.elementor-bc-flex-widget .elementor-907 .elementor-element.elementor-element-7c3ca69.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-907 .elementor-element.elementor-element-7c3ca69.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-907 .elementor-element.elementor-element-c4c8dc2 .cz_title .cz_title_content h3 {
    font-size: 40px;
    font-weight: 900;
}

.elementor-907 .elementor-element.elementor-element-c4c8dc2 > .elementor-widget-container {
    margin: 0px 0px 20px 0px;
}

.elementor-907 .elementor-element.elementor-element-b2b242c > .elementor-widget-container {
    padding: 0px 10px 0px 10px;
}

@media (min-width: 768px) {
    .elementor-907 .elementor-element.elementor-element-37212a1 {
        width: 49.884%;
    }

    .elementor-907 .elementor-element.elementor-element-6f43f2a {
        width: 39.387%;
    }

    .elementor-907 .elementor-element.elementor-element-9bb9539 {
        width: 60.613%;
    }

    .elementor-907 .elementor-element.elementor-element-2c65fd1 {
        width: 50.078%;
    }
}

@media (max-width: 1024px) {
    .elementor-907 .elementor-element.elementor-element-0c60339 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .elementor-907 .elementor-element.elementor-element-ee597c6 .cz_sep2 svg {
        height: 100px;
    }

    .elementor-907 .elementor-element.elementor-element-77d3118 > .elementor-element-populated {
        margin: 050px 0px 20px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-907 .elementor-element.elementor-element-a6f5387 .services {
        margin-top: 0px;
        margin-bottom: 10px;
    }

    .elementor-907 .elementor-element.elementor-element-baaba26 .services {
        margin-top: 0px;
        margin-bottom: 10px;
    }

    .elementor-907 .elementor-element.elementor-element-f51283a .services {
        margin-top: 0px;
        margin-bottom: 10px;
    }

    .elementor-907 .elementor-element.elementor-element-ef2fd61 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .elementor-907 .elementor-element.elementor-element-90ff887 .cz_sep2 svg {
        height: 100px;
    }

    .elementor-907 .elementor-element.elementor-element-131df66 {
        padding: 0px 0px 0px 0px;
    }

    .elementor-907 .elementor-element.elementor-element-37212a1 > .elementor-element-populated {
        margin: 120px 15px 120px 15px;
        --e-column-margin-right: 15px;
        --e-column-margin-left: 15px;
    }

    .elementor-907 .elementor-element.elementor-element-74c7e6d {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .elementor-907 .elementor-element.elementor-element-e9788c3 .cz_sep2 svg {
        height: 100px;
    }

    .elementor-907 .elementor-element.elementor-element-930e824 .cz_title .cz_title_content {
        margin-top: 30px;
    }

    .elementor-907 .elementor-element.elementor-element-c8fbd54 .cz_stylish_list {
        margin-top: -20px;
        margin-right: 0px;
        margin-left: 0px;
    }

    .elementor-907 .elementor-element.elementor-element-94028ea {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .elementor-907 .elementor-element.elementor-element-deba286 .cz_sep2 svg {
        height: 100px;
    }

    .elementor-bc-flex-widget .elementor-907 .elementor-element.elementor-element-c413f61.elementor-column .elementor-widget-wrap {
        align-items: center;
    }

    .elementor-907 .elementor-element.elementor-element-c413f61.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }

    .elementor-907 .elementor-element.elementor-element-c413f61.elementor-column > .elementor-widget-wrap {
        justify-content: center;
    }

    .elementor-907 .elementor-element.elementor-element-ef2e51e .cz_title .cz_title_content {
        margin-bottom: 60px;
    }

    .elementor-907 .elementor-element.elementor-element-9be5c9b {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .elementor-907 .elementor-element.elementor-element-4aecd72 .cz_sep2 svg {
        height: 100px;
    }

    .elementor-907 .elementor-element.elementor-element-821a3ef > .elementor-element-populated {
        margin: 25px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-907 .elementor-element.elementor-element-d7e1104 > .elementor-element-populated {
        margin: 20px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-907 .elementor-element.elementor-element-0c32b24 .cz_title .cz_title_content {
        margin-top: 40px;
    }

    .elementor-907 .elementor-element.elementor-element-d1c3642 .cz_counter {
        margin-bottom: 20px;
    }

    .elementor-907 .elementor-element.elementor-element-97987f4 .cz_counter {
        margin-bottom: 20px;
    }

    .elementor-907 .elementor-element.elementor-element-97f4c84 .cz_counter {
        margin-bottom: 20px;
    }

    .elementor-907 .elementor-element.elementor-element-c4c8dc2 .cz_title .cz_title_content {
        margin-bottom: 60px;
    }
}

@media (max-width: 767px) {
    .elementor-907 .elementor-element.elementor-element-0c60339 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .elementor-907 .elementor-element.elementor-element-ee597c6 .cz_sep2 svg {
        height: 60px;
    }

    .elementor-907 .elementor-element.elementor-element-ef2fd61 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .elementor-907 .elementor-element.elementor-element-90ff887 .cz_sep2 svg {
        height: 75px;
    }

    .elementor-907 .elementor-element.elementor-element-131df66 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .elementor-907 .elementor-element.elementor-element-37212a1 > .elementor-element-populated {
        margin: 100px 15px 100px 15px;
        --e-column-margin-right: 15px;
        --e-column-margin-left: 15px;
    }

    .elementor-907 .elementor-element.elementor-element-1232f16 .cz_btn, .elementor-907 .elementor-element.elementor-element-1232f16 .cz_btn:before {
        font-size: 12px;
        padding-right: 15px;
        padding-left: 15px;
    }

    .elementor-907 .elementor-element.elementor-element-74c7e6d {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .elementor-907 .elementor-element.elementor-element-e9788c3 .cz_sep2 svg {
        height: 60px;
    }

    .elementor-907 .elementor-element.elementor-element-c8fbd54 .cz_stylish_list {
        padding: 20px 20px 0px;
        margin-top: -30px;
    }

    .elementor-907 .elementor-element.elementor-element-c8fbd54 .cz_stylish_list li {
        width: 100%;
        height: auto;
    }

    .elementor-907 .elementor-element.elementor-element-94028ea {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .elementor-907 .elementor-element.elementor-element-deba286 .cz_sep2 svg {
        height: 50px;
    }

    .elementor-907 .elementor-element.elementor-element-ef2e51e .cz_title .cz_title_content {
        font-size: 16px;
        margin-bottom: -30px;
    }

    .elementor-907 .elementor-element.elementor-element-ef2e51e .cz_title .cz_title_content h3 {
        font-size: 30px;
        font-weight: 900;
    }

    .elementor-907 .elementor-element.elementor-element-ef2e51e .cz_title .cz_title_content a {
        font-size: 0px;
    }

    .elementor-907 .elementor-element.elementor-element-f687818 .cz_grid_p {
        padding-right: 0px;
        padding-left: 0px;
        margin-right: -50px;
        margin-left: -50px;
    }

    .elementor-907 .elementor-element.elementor-element-f687818 .cz_grid .cz_grid_item > div {
        padding-bottom: 0px;
    }

    .elementor-907 .elementor-element.elementor-element-f687818 .cz_grid .cz_grid_details h3 {
        padding: 20px;
    }

    .elementor-907 .elementor-element.elementor-element-f687818 {
        width: var(--container-widget-width, 323px);
        max-width: 323px;
        --container-widget-width: 323px;
        --container-widget-flex-grow: 0;
    }

    .elementor-907 .elementor-element.elementor-element-9be5c9b {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .elementor-907 .elementor-element.elementor-element-4aecd72 .cz_sep2 svg {
        height: 50px;
    }

    .elementor-907 .elementor-element.elementor-element-821a3ef > .elementor-element-populated {
        margin: 0px 15px 0px 15px;
        --e-column-margin-right: 15px;
        --e-column-margin-left: 15px;
    }

    .elementor-907 .elementor-element.elementor-element-0c32b24 .cz_title .cz_title_content {
        margin-top: 15px;
    }

    .elementor-907 .elementor-element.elementor-element-e1b5b28 .cz_title .cz_title_content {
        margin-bottom: 15px;
    }

    .elementor-907 .elementor-element.elementor-element-97f4c84 .cz_counter {
        padding-bottom: 0px;
        margin-bottom: 0px;
    }

    .elementor-907 .elementor-element.elementor-element-67b29aa {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .elementor-907 .elementor-element.elementor-element-c4c8dc2 .cz_title .cz_title_content {
        font-size: 16px;
        margin-bottom: -30px;
    }

    .elementor-907 .elementor-element.elementor-element-c4c8dc2 .cz_title .cz_title_content h3 {
        font-size: 30px;
        font-weight: 900;
    }

    .elementor-907 .elementor-element.elementor-element-c4c8dc2 .cz_title .cz_title_content a {
        font-size: 0px;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    .elementor-907 .elementor-element.elementor-element-77d3118 {
        width: 100%;
    }

    .elementor-907 .elementor-element.elementor-element-39db6cd {
        width: 33%;
    }

    .elementor-907 .elementor-element.elementor-element-643d405 {
        width: 33%;
    }

    .elementor-907 .elementor-element.elementor-element-478b063 {
        width: 33%;
    }

    .elementor-907 .elementor-element.elementor-element-37212a1 {
        width: 70%;
    }

    .elementor-907 .elementor-element.elementor-element-2c65fd1 {
        width: 30%;
    }

    .elementor-907 .elementor-element.elementor-element-5732207 {
        width: 100%;
    }

    .elementor-907 .elementor-element.elementor-element-e033ded {
        width: 100%;
    }

    .elementor-907 .elementor-element.elementor-element-821a3ef {
        width: 100%;
    }

    .elementor-907 .elementor-element.elementor-element-d7e1104 {
        width: 100%;
    }

    .elementor-907 .elementor-element.elementor-element-7c3ca69 {
        width: 100%;
    }
}